
<body>
<div class="container">
 
  <div *ngIf="!juegoIniciado" class="ingreso-nombre text-center">
  <h1 class="titulo" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Juego de Piedra, Papel o Tijera</h1>
  <br>
  <br>
  <div class="container-fluid bg-info text-white py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center"style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Ingrese su nombre:</h2>
        <div class="input-group mb-3 justify-content-center">
          <input type="text" [(ngModel)]="nombreJugador" name="nombreJugador" placeholder="Ingresa tu nombre">
          <div class="input-group-append">
            <button type="button"(click)="iniciarJuego()" class="btn btn-outline-dark">Iniciar Juego</button>
          </div>
          <div *ngIf="juegoIniciado" class="juego">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div *ngIf="nombreJugador" class="juego">
    <p class="nombre-jugador">{{ nombreJugador }} vs. PC</p>
    <p class="buena-suerte">¡Buena suerte! 🍀</p>

    <p>Selecciona tu opción:</p>
    <div class="opciones">
      <div class="opcion">
        
        <img
          src="assets/images/rock.png"
          alt="Piedra"
          (click)="jugar('piedra')"
          class="imagen-opcion"
        />
        <p>Piedra</p>
      </div>
      <div class="opcion">
        <img
          src="assets/images/paper.png"
          alt="Papel"
          (click)="jugar('papel')"
          class="imagen-opcion"
        />
        <p>Papel</p>
      </div>
      <div class="opcion">
        <img
          src="assets/images/scissors.png"
          alt="Tijera"
          (click)="jugar('tijera')"
          class="imagen-opcion"
        />
        <p>Tijera</p>
      </div>
    </div>
    
     <div class="contenedor-resultado">
      <p class="resultado">Resultado: {{ resultado }}</p>
      <p class="victorias">Victorias del Jugador: {{ victoriasJugador }}</p>
        <!-- Mostrar el resultado de cada jugada -->
        <p>Resultado de la jugada {{ jugadasRealizadas }}: {{ resultado }}</p>

        <p class="mejorGanadordeTres">Resultado Final al Mejor de Tres</p>
        <p>El Ganador al Mejor de Tres es: {{ nombreGanadorMejorDeTres }}</p>
      
    </div> 
    
    <button (click)="reiniciarJuego()" [disabled]="!juegoTerminado" class="boton-reinicio">Reiniciar Juego</button>
  </div>

</div>
</body>