<body>
  <!-- Tabla para mostrar los resultados -->
  <div *ngIf="resultados.length > 0">
    <h2>Resultados de {{ nombreJugador }}</h2>
    <table>
      <thead>
        <tr>
          <th>Partida</th>
          <th>Jugador 1</th>
          <th>Jugador 2</th>
          <th>Ganador</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultados">
          <td>{{ resultado.partida }}</td>
          <td>{{ resultado.jugador1 }}</td>
          <td>{{ resultado.jugador2 }}</td>
          <td>{{ resultado.ganador }}</td>
          <td>{{ resultado.fecha | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Lista de estadísticas -->
  <div *ngIf="resultados.length > 0">
    <h2>Estadísticas de {{ nombreJugador }}</h2>
    <ul>
      <li *ngFor="let resultado of resultados">
        Fecha: {{ resultado.fecha }} - Victorias: {{ resultado.estadisticas.victorias }} - Derrotas: {{ resultado.estadisticas.derrotas }}
      </li>
    </ul>
  </div>
</body>
